{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Quote</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Quotebody</th>
                <td>{{ entity.quoteBody }}</td>
            </tr>
            <tr>
                <th>Quoteauthor</th>
                <td>{{ entity.quoteAuthor }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('quote') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('quote_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
